body {
	padding-top: 50px; 
     /* background-color: #dedede; /* #efefef	; */ 
}

h1 {
  font-family: "HelveticaNeue-UltraLight"; 
  text-align: center;
  font-size: 40pt;
}

h2 {
  font-family: "HelveticaNeue-UltraLight"; 
  font-size: 24pt;
}

h3 {
	font-family: "HelveticaNeue"; 
	font-size: 14pt; 
	text-align: center;
}

small {
	font-family: "HelveticaNeue-Light"; 
	font-size: 8pt; 
}

.event-photo {
	width: 275px;
}

.active {
	background-color: transparent;
}

.person {
	margin: 10px;
	height: 270px; 
	background-color: white; 
	box-shadow: 3px 3px 4px #efefef; 
	border: 1px solid black;
	background-position: center;
	background-repeat: no-repeat;
}

.header {
	position: fixed;
	background-color: white; 
	opacity: .95; 
	width: 102%; 
	margin-left: -2px; 
	padding-bottom: 10px;
	border: 1px solid #545454; 
	z-index: 2;
}

.light {
	font-color: #ccc;
}

.header-margin {
	height: 140px; 
	width: 100px; 
	background-color: transparent;
}

.header-margin-search {
	height: 170px; 
	width: 100px; 
	background-color: transparent;
}

.event {
	margin: 10px; 
	height: 179.4px;
	padding-top: 26.1px; 
	padding-left: 42.4px; 
	border-width: 1px; 
	border-color: black; 
	background-color: #fff;
	background-color: white; 
	box-shadow: 3px 3px 4px #efefef; 
	border: 1px solid black; 
}

.subtext {
	margin-top: 16.1px;
}

.location-icon {
	width: 20px;
    height: 32px;
}

.secondary-text {
	padding-top: 40px; 
}

.person-data {
	position: absolute;
	z-index: 0;
	width: 378px; 
	height: 78px; 
	margin-top: 190px;
	background-color: white; 
	opacity: .95; 
}
.name {
	font-family: "HelveticaNeue-UltraLight"; 
	font-size: 23pt; 
	margin-left: 20px;
}
#custom-input {
	width: 100%; 
}
#john {
	background-image: url("john.png");
}
#paul {
	background-image: url("paul.png");
}
#mayer {
	background-image: url("mayer.png");
}
#weeknd {
	background-image: url("weeknd.png");
}

#matt {
	background-image: url("matt.png");
}

#mattd {
	background-image: url("images/matt.jpg"); 
	background-size: 378px 378px;
}

#jed {
	background-image: url("images/jed.jpg"); 
	background-size: 378px 378px;
}

img{
	padding-top: 10px;
}

.row{
	padding-left: 10px;
	padding-right: 10px;
}
	

.find-date-image{
	padding-left: 5px;
	float: left;
	padding-right: 10px;

}

hr{
	color: black;
	border-top: 2px solid #000;
}

.user-preview-profile{
    width:125px;
    height:125px;
    padding:5px;
    float:left;

}

.user-profile-pic{
    width:150px;
    height:150px;
    padding:5px;
    float:left;
}

.event-button{
	width: 125px;
	border: 2px solid;
	border-radius: 0px;
	color: #b73e74;
}
