body {
    background-color: #efefef	; 
}

h1 {
  font-family: "Arial"; 
}

.event {
	padding-left: 40px;
}

img{
	padding-top: 10px;

}

.find-date-image{
	float: left;
	padding-right: 10px;
}

hr{
	color: black;
	height: 4px;

}

.user-preview-profile{
    width:125px;
    height:125px;
    padding:5px;
    float:left;

}

.user-profile-pic{
    width:150px;
    height:150px;
    padding:5px;
    float:left;

}

.receiver{
	text-align:right;
	background-color:white;
}

.sender{
	background-color:#6495ED;
}

