<!doctype html>

<html>
<head>
	<title>Kompany</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

	


	<div class="container">
		<div class = "form-group">
			<h1>LOGIN:</h1>
			<form action="/login" enctype="multipart/form-data" method="get">
				<input type="text" class="upload-form form-control" id="user" name="user" placeholder="username"> <br>
				<input type="password" class="upload-form form-control" id="password" name="password" placeholder="password"> <br>
				<input type="submit" class="upload-form form-control" value="SUBMIT" id="login">
			</form>
			<a href="/loginGuest" class="btn btn-primary" id="try-button">TRY IT OUT </a>
			<a href="/createAccount" class="btn btn-primary" id="register-button">REGISTER</a>
		</div>	
		<br>
		
		
	</div>



</body>
</html>
