body {
	padding-top: 50px; 
	background-color: #f2f1f1;
     /* background-color: #dedede; /* #efefef	; */ 
}

a {
	color: #525252;
}

h1 {
  font-family: "HelveticaNeue-Thin"; 
  font-size: 20pt;
  margin-left: 20px; 
  margin-top: 30px;
}

h2 {
  font-family: "HelveticaNeue-UltraLight"; 
  font-size: 24pt;
  color: #525252;
  text-align: center;
}

h3 {
	font-family: "HelveticaNeue"; 
	font-size: 14pt;
	color: #fbfcfc;
}

.person-location {
	font-family: "HelveticaNeue-Light";
	font-size: 14pt;
	color: #525252;
	text-align: center;
}

.header {
	position: fixed;
	background-color: white; 
	opacity: .95; 
	width: 102%; 
	height: 94px;
	margin-left: -2px; 
	padding-bottom: 10px;
	background-color: #f2f1f1;
	box-shadow: 4px 0px 10px 2px #adadad;  
	z-index: 2;
	padding-top: 50px;
}

.search-input {
	display: block;
	margin: 0;
	width: 100%;
	font-family: "HelveticaNeue-Thin";
	font-size: 14pt;
	box-shadow: none;
	border-radius: none;
	height: 100%;
}

small {
	font-family: "HelveticaNeue-Light"; 
	font-size: 8pt; 
}

.search {
	position: absolute;
	width: 300px; 
	height: 40px;
	margin-top: -4px; 
	margin-left: 20px;
	background-color:black;
}

.person-name {
	position: absolute;
	margin-top: 225px; 
	padding-left: 20px;
	font-family: "HelveticaNeue-Thin"; 
	font-size: 20pt;
	color: #fbfcfc;
}

.person-data-container {
	position: absolute;
	width: 200px; 
	height: 200px; 
	margin-left: 30px; 
	margin-top: 30px;
}

.find-date-title-frame {
	position: absolute;
	width: 240px; 
	height: 50px; 
	background-color: #555557; 
	margin-top: 20px;
	margin-left: 12px; 
	opacity: .75;
}

.find-date-event-title {
	font-family: "HelveticaNeue-Thin"; 
	font-size: 20pt;
	position: absolute;
	margin-left: 20px;
}

.find-date-event-location {
	font-family: "HelveticaNeue-Bold"; 
	font-style: 12pt; 
	color: #ccc0ba;
	position: absolute;
	margin-left: 20px;
	margin-top: 50px;
}

.person-attending-name {
	font-family: "HelveticaNeue-UltraLight"; 
	font-size: 22pt;
	position: absolute;
	margin-left: 120px; 
	margin-top: 30px; 
}

.people-attending {
	font-family: "HelveticaNeue-Bold"; 
	font-size: 14pt; 
	padding-left: 8px;
	background-color: #fbfcfc;
	position: absolute;
	margin-top: 182px;
	width: 100%;
}

.prof-pic-small {
	position: absolute;
	width: 80px;
	height: 80px;
	margin-left: 20px;
	margin-top: 12px;
	overflow: hidden;
	border-radius: 40px;
	box-shadow: 1px 1px 8px #adadad;
}

.prof-image-small {
	width: 80px;
	height: 90px;
	margin-top: -10px;
}

#a1 {
	margin-top: 210px;
}

.person-attending {
	width: 102%;
	height: 110px; 
	margin-left: -2px;
	background-color: white;
	border: 1px solid #ccc0ba;
	margin-top: -1px;

}

.event-title {
	position: absolute;
	margin-top: 220px; 
	padding-left: 20px;
	font-family: "HelveticaNeue-Thin"; 
	font-size: 20pt;
}

.chat-selector-title {
	position: absolute;
	margin-top: 220px; 
	padding-left: 20px;
	font-family: "HelveticaNeue-Thin"; 
	font-size: 20pt;
}

.accept-reject {
	position: absolute;
	margin-top: 20px; 
	margin-left: 220px; 
	font-family: "HelveticaNeue-Light"; 
	font-size: 16pt; 
	color: #ff6b6d; 
	padding-left: 3px; 
	padding-right: 3px;
}

.event-heading {
	position: absolute;
	width: 240px; 
	height: 50px; 
	background-color: #555557; 
	margin-top: 20px;
	margin-left: 12px; 
	opacity: .75;
}

.event-location {
	position: absolute;
	margin-top: 246px; 
	margin-left: 20px; 
	font-family: "HelveticaNeue-Bold"; 
	font-style: 12pt; 
	color: #ccc0ba;
}

.attending-image-container {
	width: 80px;
	height: 80px; 
	background-size: 100px 100px;
	background-color: black;
	position: absolute;
}

.attending-person-profile {
	width: 80px; 
	height: 80px; 

}

.event-footing {
	position: absolute;
	width: 240px; 
	height: 50px; 
	background-color: #555557; 
	margin-top: 220px;
	margin-left: 12px; 
	opacity: .75;
}

.chat-selector-background {
	position: absolute;
	width: 240px; 
	height: 50px; 
	background-color: #555557; 
	margin-top: 220px;
	margin-left: 12px; 
	opacity: .75;
}

.event {
	margin: 10px; 
	height: 300px;
	border-width: 1px; 
	background-color: white;
	box-shadow: 3px 3px 4px #efefef; 
	border: 1px solid #bbbaba;  
    background-repeat: no-repeat;
    clip: rect(0px, 400px, 300px, 0px);
    overflow: hidden;
}

.chat-selector {
	margin: 10px; 
	height: 300px;
	border-width: 1px; 
	background-color: white;
	box-shadow: 3px 3px 4px #efefef; 
	border: 1px solid #bbbaba;  
    background-repeat: no-repeat;
    clip: rect(0px, 400px, 300px, 0px);
    overflow: hidden;
}

.invitation {
	margin: 10px; 
	height: 120px;
	border-width: 1px; 
	background-color: white;
	box-shadow: 3px 3px 4px #efefef; 
	border: 1px solid #bbbaba;  
    background-repeat: no-repeat;
    clip: rect(0px, 400px, 300px, 0px);
    overflow: hidden;
}

.red{
	color: #ff6b6d;
}

.green{
	color: #79f57f;
}


#title {
	margin-top: 20px;
}

#location {
	margin-top: 46px;
}

.person-footing {
	position: absolute;
	width: 240px; 
	height: 50px; 
	background-color: #555557; 
	margin-top: 220px;
	margin-left: 12px; 
	opacity: .75;
}

.person {
	margin: 10px;
	height: 300px; 
	background-color: white; 
	box-shadow: 3px 3px 4px #efefef; 
	border: 1px solid #bbbaba;
	background-position: center;
	background-repeat: no-repeat;
}

.event-bg-image {
	margin-top:-10px;
}

#weeknd {
	background-image: url("images/theweeknd.jpg");
}

#pixies {
	background-image: url("images/pixies.png");
}

#muse {
	background-image: url("images/matt.png");
}

#mayer {
	background-image: url("images/mayer.png");
}

#legend {
	background-image: url("images/john.png");
}

#mccartney {
	background-image: url("images/paul.png");
}

#asap {

}

.location-icon {
	width: 15px;
    height: 24px;
    position: absolute;
    margin-left: 20px; 
    margin-top: -7px; 
}

.people-data {
	position: absolute;
	background-color: #f2f1f1;
	border-radius: 20px; 
	width: 140px;
	height: 100px; 
	margin-left: 120px; 
	margin-top: 10px; 
}

.people-icon {
	width: 54px;
	height: 54px;
}

.people-count {
	position: absolute;
	margin-left: 54px; 
	margin-top: 10px; 
	font-family: "HelveticaNeue-Thin"; 
	font-size: 22pt;
}

.people-description {
	text-align: center;
	margin-top: 4px;
	font-family: "HelveticaNeue-Light"; 
	font-size: 12pt;
}

.event-image {
	width: 100px; 
	height: 100px; 
	border-radius: 50px; 
	margin-left: 10px;
	margin-top: 10px; 
	background-color: black; 
	background-image: url("pic-test-2.png");
	box-shadow: 3px 3px 4px #efefef; 
	border: 1px solid #b73e74;
}

.event-date {
	position: absolute;
	margin-top: 10px; 
	margin-left: 20px; 
	font-family: "HelveticaNeue-Light"; 
	font-size: 16pt; 
	color: #ff6b6d; 
	background-color: white;
	padding-left: 3px; 
	padding-right: 3px;
}

.event-time {
	position: absolute;
	margin-top: 40px; 
	margin-left: 20px;
	font-family: "HelveticaNeue-Bold"; 
	font-size: 12pt; 
	color: #ff6b6d;
	background-color: white;
	padding-left: 3px; 
	padding-right: 3px;
}

.box {
	position: absolute;
	widows: 200px; 
	height: 200px;  
	margin-top: 10px;
	margin-left: 10px; 
}

.details-button {
	position: absolute;
	margin-left: 20px; 
	margin-top: 146px; 
	width: 120px; 
	height: 96px; 
}

#active {
	font-family: "HelveticaNeue-Bold"; 
}

.events-tab {
	position: absolute;
	margin-left: 20%; 
	margin-top: -42px;
	font-family: "HelveticaNeue"; 
	font-size: 12pt;
}

.tab-indicator-a {
	position: absolute;
	height: 40px; 
	width: 50%; 
	margin-top: -50px;
	margin-left: 50%;
	background-color: white; 
	box-shadow: inset 4px -4px 10px #dcdfe3;
}

.tab-indicator-b {
	position: absolute;
	height: 40px; 
	width: 50%; 
	margin-top: -50px;
	background-color: white; 
	box-shadow: inset -4px -4px 10px #dcdfe3;
}

.people-tab {
	position: absolute;
	margin-left: 68%; 
	margin-top: -42px; 
	font-family: "HelveticaNeue"; 
	font-size: 12pt;
}

.people-tab-active {
	position: absolute;
	margin-left: 120px; 
	font-family: "HelveticaNeue-Bold"; 
	font-size: 10pt;
}

.people-tab-underline {

}

.event-photo {
	position: absolute;
	width: 100%;
}

.active {
	background-color: transparent;
}

.light {
	font-color: #ccc;
}

.header-margin {
	height: 100px; 
	width: 100px; 
	background-color: transparent;
}

.header-margin-search {
	height: 100px; 
	width: 100px; 
	background-color: transparent;
}

.subtext {
	margin-top: 16.1px;
}

.secondary-text {
	padding-top: 40px; 
}

.person-data {
	position: absolute;
	z-index: 0;
	width: 378px; 
	height: 78px; 
	margin-top: 190px;
	background-color: white; 
	opacity: .95; 
}
.name {
	font-family: "HelveticaNeue-UltraLight"; 
	font-size: 23pt; 
	margin-left: 20px;
}
#custom-input {
	width: 100%; 
}
#john {
	background-image: url("john.png");
}
#paul {
	background-image: url("paul.png");
}
#mayer {
	background-image: url("mayer.png");
}
#weeknd {
	background-image: url("weeknd.png");
}

#matt {
	background-image: url("matt.png");
}

#mattd {
	background-image: url("images/matt.jpg"); 
	background-size: 378px 378px;
}

#jed {
	background-image: url("images/jed.jpg"); 
	background-size: 378px 378px;
}

#go-button {
	margin-left: 60%;
	color: #79f57f;
}

#find-date {
	margin-left: 10%;
}

img{
	padding-top: 10px;
}

.row{
	padding-left: 10px;
	padding-right: 10px;
}
	

.find-date-image{
	padding-left: 5px;
	float: left;
	padding-right: 10px;

}

hr{
	color: black;
	border-ftop: 2px solid #000;
}

.user-preview-profile {
    width:125px;
    height:125px;
    padding:5px;
    float:left;
}

.profile-container {
	width: 80%;
	margin-left: 10%; 
	margin-top: 40px;
	height: 400px; 
}

.artist-container {
	width: 80%;
	margin-left: 10%; 
	height: 150px;
}

.find-date-header {
	position: fixed;
	width: 400px; 
	height: 200px;
	margin-top: -20px;
	background-color: black;
	clip: rect(0px, 400px, 200px, 0px);
}

.find-date-header-pic {
	background-size: 100% 200%;
}

.favorite-artist-pic {
	width: 80px;
	height: 80px; 
	margin-top: 8px;
	padding-top: -10px; 
	position: absolute;
	box-shadow: 1px 1px 8px #adadad;
	background-size: 100% 100%;
	border-radius: 40px;
}

#faa {
	margin-left: 20px; 
	background-image: url("images/favorite-artists/Rakim.png"); 
}

#fab {
	margin-left: 120px; 
	background-image: url("images/favorite-artists/Wale.png"); 
}

#fac {
	margin-left: 220px; 
	background-image: url("images/favorite-artists/JonPardi.png");
}

.fav-desc {
	font-family: "HelveticaNeue-Bold"; 
	font-size: 10pt;
	position: absolute;
	margin-top: 90px; 
	width: 80px;
	text-align: center;
}

#fda {
	margin-left: 20px; 
}

#fdb {
	margin-left: 120px; 
}

#fdc {
	margin-left: 220px; 
}

.attending-container {
	width: 80%;
	margin-left: 10%;
}

.attending-event {
	position: absolute;
	width: 80px;
	height: 90px; 
	margin-left: 20px;
}

.artist-title {
	background-color: white; 
	font-family: "HelveticaNeue-Bold"; 
	font-size: 12pt; 
	padding-left: 8px;
	color: #ff6b6d;
}

.event-going {
	width: 100%; 
	height: 100px; 
	background-color: white;
	margin-top: 12px;
	box-shadow: 1px 1px 8px #adadad; 
}

.event-going-artist {
	font-family: "HelveticaNeue"; 
	font-size: 18px; 
	margin-left: 20px;
	padding-top: 24px;
	color: #525252;
}

.event-going-date {
	font-family: "HelveticaNeue-Thin"; 
	font-size: 14px;
	margin-left: 20px;
	margin-top: 4px;
	color: #525252; 
}

.people-going-description {
	font-family: "HelveticaNeue-UltraLight"; 
	font-size: 14pt;
}

.people-going {
	text-align: center;
	font-family: "HelveticaNeue-Bold"; 
	font-size: 30pt;
	position: absolute;
	margin-top: 425px;
	margin-left: 24%;
	margin-right:24%;
	padding: 8px;
	width: 52%; 
	color: #525252;
	background-color: #fbfcfc;
	border: 3px solid #ccc0ba;
}

.user-profile-pic{
    width:70%;
    margin-left:15%;
    margin-top: 10%;
}

.event-button {
	position: absolute;
	width: 30%; 
	margin-left: 35%; 
	margin-top: 290px; 
	background-color: #262626; 
	border: 1px solid #ff6b6d;
	color: #ff6b6d;
	text-align: center; 
	padding-left: 4px; 
	font-family: "HelveticaNeue-UltraLight"; 
	font-size: 26pt;
	box-shadow: 3px 3px 12px #525252; 
}
.invite-button{
	border: 2px solid;
	border-radius: 0px;
	color: #ff6b6d;
	background-image: none;
}

.chat-profile-name {
	position: absolute;
	margin-top: 13px;
	margin-left: 44px;
	font-family: "HelveticaNeue-Light"; 
	font-size: 18pt;
}

.chat-profile-event {
	position: absolute;
	margin-top: 18px;
	margin-left: 204px;
	font-family: "HelveticaNeue-Thin"; 
	font-size: 17pt;
}

.chat-profile-age {
	position: absolute;
	margin-top: 33px;
	margin-left: 45px;
	font-family: "HelveticaNeue-Light"; 
	font-size: 10pt;	
}

.bold {
	font-family: "HelveticaNeue-Bold";
}

.down-arrow {
	width: 20px; 
	height: 30px; 
	margin-top: -10px;
}

.navbar-toggle {
	border: 0px solid white;
	background-color: transparent; 
}

.landing-page-logo {
	margin-left: 25%;
	width: 50%;  
	margin-top: -90px;
	position: absolute;
}

.landing-page-image {
	position: absolute;
	width: 130%; 
	margin-left: -5%;
	margin-top: -18%;
}

a:active {
  color:#f00;
}

.color {
	color: #ff6b6d;
}

.nav-header {
	background-color: white;
	opacity: .8; 
}

.nav-logo {
	display: block; 
	margin-left: 11px; 
	margin-top: -3px;
	height: 50px;
	width: 130px;
}

.line-to {
	position: absolute;
	border-left: 2px solid #525252; 
	background-color: transparent; 
	margin-left: -20px; 
	margin-top: -8px; 
	height: 28px; 
	width: 10px; 
}

.message-to-name {
	margin-left: 2%; 
	color: #525252;
	font-family: "HelveticaNeue-Bold"; 
	font-size: 14px;
	margin-top: 8px;
}

.message-to {
	margin-left: 4%;
	width: 60%; 
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1.4%;
	padding-bottom: 1.4%;
	margin-top: 4px;
	background-color: white;
	border-radius: 4px;
}

.message-from-name {
	margin-right: 2%;
	float: right;
	color: #ff6b6d;
	font-family: "HelveticaNeue-Bold"; 
	font-size: 14px;
	margin-top: 8px;
}

.line-from {
	position: absolute;
	border-right: 2px solid #ff6b6d; 
	background-color: transparent; 
	margin-left: 20px; 
	margin-top: -8px; 
	height: 28px; 
	width: 217px; 
}

.message-from {
	margin-left: 35%;
	width: 60%; 
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 1.4%;
	padding-bottom: 1.4%;
	margin-top: 32px;
	background-color: #fbfcfc;
	border-radius: 4px;
}

.chat-header {
	width: 102%;
	margin-left:-1%;
	height: 68px; 
	border: 1px solid #efefef;
	background-color: white;
	opacity: .8;
	box-shadow: 4px 4px 12px #efefef; 
}


